# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data / exports
*.csv.bak
*.xlsx.bak
data/searches/*.nbib

# Full-text PDFs (copyrighted/paywalled content, no redistribution rights)
data/extraction/fulltext_pdfs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
